@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #202225;
    --card-background-color: #18191c;
    --input-field-background-color: #2f3136;
    --input-field-text-color: #54575d;
    --input-field-heading-color: #aeb0b3;
    --shadow-color: #1b1d1f;
    --white: #ffffff;
    --blue: #5865f2;
    --grey: #2f3136;
}

.blue {
    color: #5865f2;
}

.card {
    background-color: var(--card-background-color);
    width: 300px;
    height: auto;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    box-shadow: 0px 0px 8px var(--shadow-color);
}

.card:not(.active) {
    display: none;
}

.room-id {
    font-size: 0.8em;
}

.room-id-wrapper {
    display: flex;
    gap: 10px;
}

.field-heading {
    text-align: left;
    font-size: 0.8em;
    color: var(--input-field-heading-color);
}

.copy-img {
    width: 16px;
    margin-bottom: 2px;
}

button {
    padding: 6px 8px;
    border: none;
    border-radius: 4px;
    background-color: var(--blue);
    color: var(--white);
    font-family: "Poppins";
    font-weight: 400;
    font-size: small;
}

body {
    background-color: var(--background-color);
    color: #d9d9da;
    font-family: "Poppins";
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.username-field, .room-name-field {
    background-color: var(--input-field-background-color);
    border: none;
    width: 280px;
    height: 32px;
    padding: 12px;
    border-radius: 4px;
    color: var(--white);
    font-family: "Poppins";
}

.username-field::placeholder, .room-name-field::placeholder {
    color: var(--input-field-text-color);
    font-family: "Poppins";
}

.username-field:focus, .room-name-field:focus {
    outline: none;
}

.card-heading {
    margin: 12px 12px 0 12px;
    font-weight: 600;
}

.card-bottom {
    background-color: var(--grey);
    width: 100%;
    padding: 10px 14px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    justify-content: space-around;
}

.info-para {
    padding-left: 2px;
    padding-top: 2px;
    color: tomato;
    font-size: 0.7em;
    text-align: center;
}